<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   <add key="RMQHost" value="10.5.50.101" />
    <add key="RMQVHost" value="Praktikum" />
    <add key="RMQUsername" value="nurman" />
    <add key="RMQPassword" value="nurman123" />
    <add key="RMQQueue" value="SendingData" />
    <add key="RMQSubRoutingKey" value="SendingData" />
    <add key="RMQPubRoutingKey" value ="SendingData" />
    <add key="RMQExc" value="amq.topic" />
    <add key="DBPath" value="C:\\Users\\NURMAN\\Documents\\GitHub\\praktikum-database-and-iot\\Absensi_iot.db"/>
    </appSettings>
</configuration>
